
{% load static %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"  crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        
    </head>
<body>

<style>
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #131212;*/
  overflow-y: auto;
  overflow-x: hidden;
  }

</style>
		<div class="col-lg-12" style="z-index: 0;">
            <div class="d-flex w-100">
        <div class="d-flex w-100 justify-content-center" style="flex: auto; width: 100vw;">
			<div class="hooker-element" id="form-wrapper" style="border-radius: 20px; background-color: #000; background-blend-mode: darken;">
					<hr>
                <h5 class="card-title text-center" style="font-size: 1.6em; color: #efefef;">Köszönjük a vásárlást!</h5>
                <p class="card-text text-center" style="color: white; font-size: 1em;">
                A lent látható számot ajánlott elmenteni, ez a kép egyedi azonosítója. Ezzel kikerüljük az esetleges keveredéseket.<br>
                A megadott e-mail címen fogjuk önt értesíteni a rendelés állapotáról.
                </p>
                  <p class="card-text text-center" style="color: white; font-size: 1.3em;">Az ön képének egyedi azonosítószáma: {{ confirmation_number }}</p>
 <form method="post" enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="confirmation_number" value="{{ confirmation_number }}">
    <input type="text" name="name" placeholder="Név" class="form-control" required>
     <br>
    <input type="email" name="email" placeholder="Email" class="form-control"  required>
     <br>
    <input type="file" name="file" class="form-control" required>
     <br>
     <p class="text-center" style="font-size: 1em; color:white;">A "browse" gombra kattintva kell feltölteni a képet, amelyet ki szeretnének nyomtatni.</p>
  <button id="form-button" class="btn btn-success btn-block" type="submit" value="Elküldöm" style="border-radius: 12px;">Submit</button>
</form>
					
						</div>
    </div>
            </div>
    </div>
    </body>

                    