{% extends 'store/sr/main.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
  body{
    background-color: #131212;
	margin: 0;
	padding: 0;
  }
    #bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        
    }
  
</style>
<body>
    <div id="bg"></div>
<section>
  <div class="container">
    <div class="row">
       <div class="col-lg-12" style="z-index: 2; margin-top: 10%;"><p class="Custom3D"><b>Jedinstveni&nbsp;<span class="text_3d">3D</span> slike.</b></p></div>
       <div class="col-lg-12" style="z-index: 2;"><p class="Leiras">3D fotografija je zaista redak i jedinstven poklon.<br>Sačuvajte najlepše trenutke u posebnom obliku, u formi 3D štampane fotografije. </p></div>
    </div>
 </div>

<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center">
      <img src="{% static 'images/cube.png' %}" alt="Centered Image" class="logo_kocka"/>
    </div>
  </div>
</div>

</section>

<div class="d-flex justify-content-center" style="margin-top: 5%;">
    <p class="Howsr"><b>Šta je litofanska slika?</b></p>
</div>
<b>
<section>
<div class="d-flex w-100" style="margin-top: 5%; margin-bottom: 25%; height:  background: #0a0808; margin-left: .05%; border-radius: 2em; flex-direction: column; justify-content: space-around; align-items: stretch; z-index: 2; opacity: 1;">
	<div class="col" style="background-color: #0a0808; border-radius: 2em; z-index: 2;">
	
	<div class="col" style="margin-top: 2em;" id="how_does_it_work">
        <div class="col" style="background-color: #0a0808; margin-top: 2em; border-radius: 2em 2em 0 0;z-index: 2;">
        <p class="cim1">3D štampana fotografija (litofan štampa) </p>
        <p class="bekezdes">3D fotografija je zaista redak i jedinstven poklon. Podelite najlepše trenutke posebnim poklonom u obliku 3D otiska. 3D otisak fotografije je zasnovan na principu da različite debljine belih slojeva dozvoljavaju različit prolazak svetlosti kroz objekat. U običnom slučaju, 3D slika izgleda kao beli ispupčeni otisak, ali kada je osvetlite iz pozadine - na primer, stavite je ispred lampe - odmah će se pojaviti slika u sivim tonovima. Tamo gde je otisak tanji, slika će biti svetlija, dok će tamo gde je deblji biti tamnija. Ova tehnika, poznata kao "lithophane" ili "litofan" na srpskom, originalno je korišćena za izradu tankih porcelanskih pločica još u ranim 1800-im godinama. Danas ovu tehniku primenjuju tokom izrada 3D fotografije. Time možete sačuvati najlepše trenutke u posebnim obliku. 
        </p>
	</div>
	<div class="col" style="background-color: #0a0808; border-radius: 2em;z-index: 2; margin-top: 2em;">
    <p class="cim1">Dizajn</p>
    <p class="bekezdes">Kod nas možete naručiti posebne 3D fotografije u različitim oblicima. Ovi specijalni delovi se izrađuje u malim okvirima da bi efekat bude što naglašavan. Pored toga su dostupni I litofan priveznici u kvadratnom obliku koje takođe pravimo 3D štampom, koristeći belu PLA bio plastiku. Ako razmišljate o neobičnom obliku ili veličini, slobodno nam pišite, rado ćemo vam pomoći da se vaše specijalne želje ispune. 
    </p>
    </div>
    <div class="col" style="background-color: #0a0808; border-radius: 2em;z-index: 2; margin-top: 2em;">
    <p class="cim1">Kako naručiti?</p>
    <p class="bekezdes">
                                Za izradu jedinstvenog poklona, naravno, trebaće nam nekoliko fotografija. Kod zakrivljenog dizajna ili privezaka za ključeve, fotografija može biti uspravna ili ležeća, dok će za lampu biti potrebno 4 uspravne fotografije. Ali ne brinite, obavezno ćemo vam se javiti ako fotografije nisu odgovarajuće. Naše proizvode možete pronaći ispod.
        </p>
    </div>
    <div class="col" style="background-color: #0a0808; border-radius: 0 0 0em 0em;z-index: 2;">
        <p class="cim1">Koju fotografiju da pošaljem?</p>
    <p class="bekezdes">
                            Možete nam poslati bilo koje dragoceno sećanje koje vam je važno. Zamislite posebne trenutke sa porodicom, maturske svečanosti, diplomiranja, venčanja ili čak slike vašeg omiljenog kućnog ljubimca i putovanja. Ako imate stare, ali dobro očuvane porodične fotografije, koje možete skenirati, to je takođe savršen izbor. Neka poklon bude jedinstven i personalizovan! Sa našom čudesnom 3D štampanom fotografijom, činimo trenutke čarobnim i pretvaramo ih u večna sećanja. Pošaljite nam odabranu sliku, a mi ćemo se pobrinuti da zabeležimo radost u vašem poklonu.


    </p>
    </div><br>
    <div class="col" style="background-color: #0a0808; border-radius: 0 0 2em 2em;z-index: 2;padding-bottom: 2%;">
    <div class="card-deck">
  <div class="card" style="max-height: 20%;">
    <img src="{% static 'images/auto.jpg'%}" class="card-img-top" style="height: 100%;" alt="...">
   
  </div>
  <div class="card">
    <img src="{% static 'images/kuty.jpg'%}" class="card-img-top" style="height: 100%;" alt="...">
 
  </div>
  <div class="card">
    <img src="{% static 'images/auto.jpg'%}" class="card-img-top" style="height: 100%;" alt="...">
  
  </div>
</div>
    
    </div>
</div>
</div>
</section>
    
<section>
	<div class="d-flex w-100  " style="justify-content: space-between; align-items: stretch; height: 45vh; margin-top: 20%; padding: 10px; gap: 1.4em;">
		<div class="col" style="height: 100%;  border-radius: 2em;  z-index: 2; overflow: hidden; flex-grow: 1;">
			<video autoplay muted loop class="video">
                  <source src="{% static 'images/asd.mp4' %}" type="video/mp4">
                </video>
		</div>
		<div class="col" style="background: url('{% static 'images/prod.jpg' %}'); height: 100%; background-size: contain;  border-radius: 2em; flex-grow: 1;z-index: 2; ">
			
		</div>
        <div class="col" style="background: url('{% static 'images/kutya.jpg'%}'); height: 100%; background-size: contain;  border-radius: 2em; flex-grow: 1;z-index: 2; ">
        </div>
	</div>
	<div class="d-flex w-100 " style="justify-content: space-between; align-items: stretch; height: 45vh; padding: 10px; gap: 1.4em;z-index: 2;">
                <div class="col" style="flex-grow: 1; background: url('{% static 'images/big.jpg'%}'); height: 100%; background-size: contain;  border-radius: 2em; flex-grow: 1;z-index: 2; "></div>
		<div class="col" style="background: url('{% static 'images/2.jpg'%}'); background-size: contain; object-fit: fill; height: 100%;  border-radius: 2em; flex-grow: 1;z-index: 2;">
			
		</div>
		<div class="col" style=" height: 100%;  border-radius: 2em;z-index: 2; overflow: hidden;">
			<video autoplay muted loop class="video">
                  <source src="{% static 'images/asd3.mp4'%}" type="video/mp4">
                  
                  
                </video>
		</div>

	</div>
</section>
<section style="background-color: #0a0808; z-index: 1; margin-top: 20%; border-radius: 5em; width: 100%; padding: 2em;" class="col-lg-12 z-3" id="products">
	<div class="card-deck">
{% for product in products %}
  <div class="card" style="border-radius: 10% 10% 10% 10%; border: 0;">
    <img src="{{ product.imageURL }}" class="card-img-top" alt="..." style="max-height: 60%; border-radius: 10% 10% 0% 0%;">
    <div class="card-body">
      <h5 class="card-title" style="font-size: 1.5em;"><strong>{{product.name2}}</strong></h5>
      <p class="card-text">{{product.leiras_sr}}</p>
      <p class="card-text" style="margin-top: 10%;">
          <button data-product="{{product.id}}" data-action="add" class="col-lg-6 btn btn-outline-secondary add-btn update-cart" style="border-radius: 2em; z-index: 3;"><h4 style="font-size: 1em; font-weight:700;"><stong>Dodaj u korpu</stong></h4></button>
				<button class="col-lg-6 btn btn-outline-secondary" style="border-radius: 2em; float: right; z-index: 3;" ><h4 style="font-size: 1.2em; font-weight: 500; pointer-events: none;"><strong>{{product.price}} € </strong></h4></button></p>
    </div>
  </div>
 {% endfor %}
</div>
</section>

    
    </div>
  <script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
{% endblock content %}
